html,
body,
#root {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

main {
  flex: 1;
}

.glow-on-click {
  position: relative;
  z-index: 0;
  transition: background-color 0.3s ease;
}

.glow-on-click::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  background: rgba(255, 255, 255, 0.2);
  z-index: -1;
  filter: blur(10px);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.glow-on-click:active::before {
  opacity: 1;
}
.bg-glass {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
header {
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Transparent background for the header */
  padding: 1rem 0;
}

nav ul {
  display: flex;
  gap: 1rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #ff6b6b; /* Accent color */
}

.bg-glass {
  background: rgba(255, 255, 255, 0.2); /* Glass effect */
  border-radius: 0.5rem;
}

ul li {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.wavy-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.hover-underline-animation::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #f43f5e; /* rose-400 */
  transition: width 0.3s;
}

.hover-underline-animation:hover::after {
  width: 100%;
}
